{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    {% include 'dashboard/partials/head.html' %}
</head>
<body class="light-theme">
    {% include 'dashboard/partials/navbar.html' %}

    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row flex-grow-1">
            {% include 'dashboard/partials/sidebar.html' with active_menu=active_menu %}
            
            <!-- Ana İçerik -->
            <main role="main" class="main-content fade-in">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    
    {% include 'dashboard/partials/footer.html' %}
    
    {% include 'dashboard/partials/scripts.html' %}
</body>
</html>